<script>
    var Scripted = {
        createProjectPost: function (projectId, isPublished, caller) {
            var link = jQuery(caller);
            var originalText = link.text();
            link.text('Creating...').attr('disabled', true);
            jQuery.ajax({
                type: 'POST',
                url: '{{ createProjectPostBaseUrl }}&isPublished='+ (isPublished ? '1' : '0') +'&projectId='+projectId,
                data: '',
                success: function(data) {
                    window.location = data;
                },
                error: function (error) {
                    var errorMessage = 'Failed to create project post: ' + error.status + ' ' + error.statusText + ' "'+error.responseText+'"';
                    Scripted.showErrorMessage(errorMessage);
                    link.text(originalText).attr('disabled', false);
                }
            });
        },
        refreshProjectPost: function (projectId, postId, caller) {
            var link = jQuery(caller);
            var originalText = link.text();
            link.text('Refreshing...').attr('disabled', true);
            jQuery.ajax({
                type: 'POST',
                url: '{{ refreshProjectPostBaseUrl }}&projectId='+projectId+'&postId='+postId,
                data: '',
                success: function(data) {
                    window.location = data;
                },
                error: function (xhr, status, error) {
                    var errorMessage = 'Failed to create project post: ' + error.status + ' ' + error.statusText + ' "'+error.responseText+'"';
                    Scripted.showErrorMessage(errorMessage);
                    link.text(originalText).attr('disabled', false);
                }
            });
        },
        showErrorMessage: function (errorMessage) {
            var errorBanner = jQuery('<div />').hide().addClass('notice').addClass('notice-error').append('<p>'+errorMessage+'</p>');
            jQuery('[role="container"]').prepend(errorBanner);
            errorBanner.slideDown(function (e) {
                setTimeout(function () {
                    errorBanner.slideUp();
                }, 5000);
            });
        }
    };

    jQuery( document ).ready(function() {
        jQuery('.filter-jobs').change(function() {
            var filter = jQuery(this).val();
            document.location.href = '{{ filterJobsBaseUrl }}&filter='+filter
        });
    });
</script>
